
.btn {
    margin: 2px;
    margin-bottom: 5px;
}

.btn-laexo {
    background-color: #0784b5;
    outline: #0784b5;

    
}
.btn-laexo:hover, .btn-laexo:focus {
    background-color: #0aa2de;
    outline: #0aa2de;
    color: black;
    
}