.title {
    font-size: 5vw;
}

.date {
    font-size: 2.5vw;
}

.footer {
    position: fixed;

}

.m-d {
    font-size: large;
}

.media {
    display: flex;
    align-items: center;
}

.media-body {
    margin: auto;
}

.w-56 {
    width: 14rem;
}

@media (min-width: 1024px) {
    .lg\:w-max {
        width: -webkit-max-content;
        width: max-content;
    }

   
}

    @media (max-width:940px) {
        .m-d {
            font-size: medium;
        }

    }

    @media (max-width:500px) {
        .title {
            font-size: 18px;
        }

        .date {
            font-size: 15px;
        }

        .m-d {
            font-size: 11px;
        }

        .media {
            display: flex;
            align-items: center;
        }

    }