.subtitle,
.title,
.center {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 70px;
}

.subtitle {
    font-size: 1vw;
    max-width: 50%;
    margin: auto;

}

.subtitle>span {
    color: #00b7ff;
    font-weight: bold;

}

div>img {
    height: auto;
    width: 80%;
}

.description-title {
    padding-top: 2.3vh;
    text-decoration: underline solid 2px #39ace7;
    text-underline-offset: 8px;
}


.description {
    padding-top: 1vh;
    /* white-space: pre; */

}


.buttons-holder {
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn {
    margin: 40px;
    margin-bottom: 5px;
}


.btn-laexo-light {
    background-color: #1da2fa;
    outline: #1da2fa;
    width: 200px;
}

.btn-laexo-light:hover,
.btn-laexo-light:focus {
    background-color: #1dbbfa;
    outline: #1dbbfa;
    color: black;
}

.btn-laexo-rules {
    background-color: #fa9a1d;
    outline: #fa9a1d;
    width: 200px;
}


.btn-laexo-rules:hover,
.btn-laexo-rules:focus {
    background-color: #fac61d;
    outline: #fac61d;
    color: black;
}




@media (max-width: 1200px) {

    .title {
        font-size: 50px;
    }

    .description-title {
        font-size: 25px;
    }

    .subtitle {
        font-size: 20px;
    }

    div>img {
        height: auto;
        width: 80%;
    }
  
}

@media (max-width: 750px) {
    .title {
        font-size: 40px;
    }
    .description-title {
        font-size: 18px;
    }

    .description {
        font-size: 10px;
    }

    div>img {
        height: auto;
        width: 100%;
    }

}