/*.footer {
    position: fixed;

}*/

.grid {
    display: grid;
    margin-top: 20px;
    row-gap: 1em;
}

.grid-band {
    grid-template-rows: fit-content(150px) auto;
    grid-template-columns: fit-content(350px) auto fit-content(365px);
    grid-template-areas:
        "img txt info";
}


.grid-img {
    grid-area: img;

}

.grid-text {
    grid-area: txt;
    align-self: center;
    justify-self: center;

}

.grid-info {
    grid-area: info;
    align-self: center;
    justify-self: center;

}

.date {
    font-size: small;
    font-weight: 100;
    margin-bottom: 15px;
    opacity: 0.8;
}


.btn {
    margin: 2px;
    margin-bottom: 5px;
}


@media (max-width: 1200px) {
    .grid-img {
        height: 110px;
        width: 260px;
    }

    .grid-band {
        grid-template-columns: fit-content(150px) auto fit-content(365px);
        grid-template-rows: fit-content(150px) auto;
        grid-template-areas:
            "img txt txt"
            ". info .";
    }

    .title {
        font-size: 22px;
    }

    .subtitle {
        font-size: 13px;
    }

}



@media (max-width: 750px) {
    .grid-img {
        height: 75px;
        width: 175px;
    }

    .grid-band {
        grid-template-columns: fit-content(80px) auto fit-content(100px);
        grid-template-rows: fit-content(150px) auto;
        grid-template-areas:
            "img txt txt"
            "info info info";
    }

    .date {
        margin-bottom: 10px;
        font-size: 10px;
    }

    .title {
        font-size: 12px;
    }

    .subtitle {
        font-size: 8px;
    }

}

@media (max-width: 500px) {


    .grid-band {
        grid-template-columns: fit-content(80px) auto fit-content(100px);
        grid-template-rows: auto auto;
        grid-template-areas:
            "img txt txt"
            "info info info";
        margin-bottom: 20px;
    }

}


.btn-laexo {
    background-color: #0784b5;
    outline: #0784b5;

    
}
.btn-laexo:hover, .btn-laexo:focus {
    background-color: #0aa2de;
    outline: #0aa2de;
    color: black;
    
}