<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>navigation</h4>
                <ul>
                    <li><a href="/stream">stream</a></li>
                    <li><a href="/classement">classement</a></li>
                    <li><a href="/event">évènement</a></li>
                    <li><a href="#">boutique</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>à propos</h4>
                <ul>
                    <li><a href="#">Qui suis-je</a></li>
                    <li><a href="#">politique de confidentialité</a></li>
                    <li><a href="#">Conception</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>réseaux sociaux</h4>
                <div class="social-links">
                    <a href="https://discord.gg/EvszbWAQk5" target="_blank"><i class="bx bxl-discord-alt bx-sm" style="padding-top: 0.6rem;"></i></a>
                    <a href="https://www.instagram.com/laexo18" target="_blank"><i class="bx bxl-instagram bx-sm " style="padding-top: 0.6rem;"></i></a>
                    <a href="https://twitter.com/laexo18" target="_blank"><i class="bx bxl-twitter bx-sm" style="padding-top: 0.6rem;"></i></a>
                    <a href="https://www.tiktok.com/@laexo18" target="_blank"><i class="bx bxl-tiktok bx-sm" style="padding-top: 0.6rem;"></i></a>
                    <a href="https://www.youtube.com/channel/UCCGVj8MHW-2cn8tYJJ-0AdA" target="_blank"><i class="bx bxl-youtube bx-sm" style="padding-top: 0.6rem;"></i></a>
                </div>
            </div>
        </div>
        <p class="mt-5 w-full mb-2" style="text-align: right;">
            <span class="copyright">© 2022 - LAEXO.TV Tous droits réservés</span>
        </p>
    </div>
</footer>