<!-- Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark-laexo">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="emailModalLabel">Voici mon adresse email</h1>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>laexo.contact@gmail.com</div>
        </div>
       
      </div>
    </div>
  </div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>navigation</h4>
                <ul>
                    <li><a href="/stream">stream</a></li>
                    <li><a href="/classement">classement</a></li>
                    <li><a href="/events">évènements</a></li>
                    <li><a href="/planning">planning</a></li>
                    <!-- <li><a href="#">boutique</a></li> -->
                </ul>
            </div>
            <div class="footer-col">
                <h4>à propos</h4>
                <ul>
                    <li><a href="/quisuisje">Qui suis-je</a></li>
                    <li><a href="/conception">Conception</a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#emailModal">Contact</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>réseaux sociaux</h4>
                <div class="social-links">
                    <a href="https://discord.gg/EvszbWAQk5" target="_blank"><i class="bx bxl-discord-alt bx-sm"
                            style="padding-top: 0.6rem;"></i></a>
                    <a href="https://www.instagram.com/laexotv" target="_blank"><i class="bx bxl-instagram bx-sm "
                            style="padding-top: 0.6rem;"></i></a>
                    <a href="https://twitter.com/laexotv" target="_blank"><i class="bx bxl-twitter bx-sm"
                            style="padding-top: 0.6rem;"></i></a>
                    <a href="https://www.tiktok.com/@laexotv" target="_blank"><i class="bx bxl-tiktok bx-sm"
                            style="padding-top: 0.6rem;"></i></a>
                    <a href="https://www.youtube.com/channel/UCCGVj8MHW-2cn8tYJJ-0AdA" target="_blank"><i
                            class="bx bxl-youtube bx-sm" style="padding-top: 0.6rem;"></i></a>
                </div>
            </div>
        </div>
        <p class="mt-5 w-full mb-2" style="text-align: right;">
            <span class="copyright">© 2022 - LAEXO.TV Tous droits réservés</span>
        </p>
    </div>
</footer>