<html lang="fr">

<head>
  <%- include('../templates/headerGlobal'); %>
    <title>Conception - Laexo.tv</title>
</head>

<body class="bg-dark-laexo" onload="">
  <%- include('../templates/svgIcons'); %>
    <%- include('../templates/navbar');%>

      <div class="mx-auto container my-5 mt-1" id="holder">
        <div class="items-center middle" style="opacity: 1; display: flex; flex-direction: column;">
          <a href="https://github.com/Minitsonga" target="_blank" class="linksLogo">
            <img src="/img/LogoMini.png" title="dev" class="rounded-full imgLogo" alt="julien vandamme">
          </a>
          <div class="mt-3 font-medium text-lg">Julien Vandamme (Minitsonga)</div>
          <div>Développeur</div>
        </div>
      </div>

      <%- include('../templates/footer'); %>

        <style>


          .linksLogo {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .rounded-full {
            border-radius: 9999px;
          }

          .imgLogo {
            max-width: 15%;
            height: auto;
          }
        </style>

</body>

</html>