<html lang="fr">

<head>
  <%- include('../templates/headerGlobal'); %>
    <title>Conception - Laexo.tv</title>
</head>

<body class="bg-dark-laexo" onload="">
  <%- include('../templates/svgIcons'); %>
    <%- include('../templates/navbar');%>

      <div class="mx-auto container my-5 mt-1" id="holder">
        <div class="container mx-auto flex justify-center space-x-20 my-32">
          <div class="flex flex-col items-center" style="opacity: 1;"><a href="https://twitter.com/beian77"
              target="_blank" rel="noopener noreferrer"><img src="/static/media/dev_profile.b76ff420.jpg" title="dev"
                class="rounded-full" alt="valentin gauthey"></a>
            <div class="mt-5 font-medium text-lg">Valentin GAUTHEY</div>
            <div>Développeur</div>
          </div>
          <div class="flex flex-col items-center" style="opacity: 1;"><a href="https://twitter.com/cdriq_art"
              target="_blank" rel="noopener noreferrer"><img src="/static/media/designer_profile.b61be240.jpg"
                title="designer" class="rounded-full" alt="cdriq"></a>
            <div class="mt-5 font-medium text-lg">Cédric COSSON</div>
            <div>Graphiste</div>
          </div>
        </div>

      </div>

      <%- include('../templates/footer'); %>

</body>

</html>