<html lang="fr">

<head>
  <%- include('../templates/headerGlobal'); %>
    <link rel="stylesheet" href="/css/error.css" />
    <title>404 - Laexo.tv</title>
</head>

<body class="bg-dark-laexo" onload="console.clear();">
  <%- include('../templates/svgIcons'); %>
    <%- include('../templates/navbar');%>

      <div class="mx-auto container my-5 mt-1">
        <div class="holder">
          <img src="/img/Triste.png" alt="sad" height="100px" width="100px" />
          <div class="mt-5 info">
            <div class="text">
              Euh. Cette endroit n'existe pas ! Sortez donc d'ici !
            </div>
            <a href="/stream" class="">
              <button class="btn btn-laexo" type="button">
                Revenir a la page principale
              </button></a>
          </div>
        </div>
      </div>

      <%- include('../templates/footer'); %>

        <style>
          .holder {
            display: flex;
            align-content: center;
            justify-content: center;
            margin: auto;
          }

          img{
            margin-top: auto;
            margin-right: 10px;
          }

          .info {
            text-align: center;
          }
          .btn {
            width: 100%;
          }
        </style>

</body>



</html>