<html lang="fr">

<head>
  <%- include('../templates/headerGlobal'); %>
    <link rel="stylesheet" href="/css/events.css">
    <title>Evenements - Laexo.tv</title>
</head>

<body class="bg-dark-laexo" onload="console.clear();">
  <%- include('../templates/svgIcons'); %>
    <%- include('../templates/navbar'); %>

      <div class="mx-auto container my-5 mt-1" style="text-align: center;">

        <ul class="list-unstyled">
          <li class="media">
            <img src="/img/Test.png" class="w-56 lg\:w-max" >
            <div class="media-body container">
              <h5 class="inline-flex flex-col">List-based media object</h5>
            </div>
          </li>

          <li class="media my-4">
            <img src="/img/Alex.jpg" class="mr-3">
            <div class="media-body">
              <h5 class="mt-0 mb-1">List-based media object</h5>
            </div>
          </li>

        </ul>

        
      </div>


      <%- include('../templates/footer'); %>

</body>


</html>