<html lang="fr">

<head>
    <%- include('../templates/headerGlobal'); %>
        <link rel="stylesheet" href="/css/events.css">
        <title>Evenements - Laexo.tv</title>
</head>

<body class="bg-dark-laexo" onload="console.clear();">
    <%- include('../templates/svgIcons'); %>
        <%- include('../templates/navbar'); %>

            <div class="mx-auto container my-5 mt-1">
                <div class="title">LAEXO CUP 2v2</div>
                <div class="date">23 Septembre 2022</div>
                <p class="m-d">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos libero sint ratione
                    delectus. Corrupti nostrum rem facere similique iste blanditiis iure deleniti fugiat sit. Quas ipsam
                    maxime rerum accusantium laborum.</p>


                <button onclick="" class="btn btn-light sub-btn items-center"
                    style="font-size: 30px;">INSCRIPTION</button>
                <div style="margin-top: 50px;">
                    <button onclick="" class="btn btn-light follow-btn items-center"
                        style="font-size: 20px;">Déroulement</button>
                    <button onclick="" class="btn btn-light follow-btn items-center"
                        style="font-size: 20px;">Règlement</button>
                </div>

            </div>


            <%- include('../templates/footer'); %>

</body>


</html>