<html lang="fr">

<head>
    <%- include('../templates/headerGlobal'); %>
        <title>Planning - Laexo.tv</title>
</head>

<body class="bg-dark-laexo">
    <%- include('../templates/svgIcons'); %>
        <%- include('../templates/navbar'); %>

            <div class="mx-auto container my-5 mt-1">
                <a id="planningLink" href="/img/planning.png" target="_blank">
                    <img id="planning" src="/img/planning.png" style="height: auto; width: 100%;" />
                </a>
            </div>

            <%- include('../templates/footer'); %>

                <script>
                    resizeWindow(); //Init page
                    
                    window.onresize = resizeWindow; // When resize the window
                    function resizeWindow() {
                        if (window.innerWidth <= 768) {
                            document.querySelector("#planningLink").href = "/img/planning2.png";
                            document.querySelector("#planning").src = "/img/planning2.png";
                        } else {
                            document.querySelector("#planningLink").href = "/img/planning.png";
                            document.querySelector("#planning").src = "/img/planning.png";
                        }
                    }
                </script>
</body>

</html>