<html lang="fr">

<head>
    <%- include('../templates/headerGlobal'); %>
        <title>Planning - Laexo.tv</title>
</head>

<body class="bg-dark-laexo" onload="console.clear();">
    <%- include('../templates/svgIcons'); %>
        <%- include('../templates/navbar'); %>

            <div class="mx-auto container my-5 mt-1">
                <a href="img/planning.png" target="_blank">
                    <img src="img/planning.png" alt="" width="1920" height="1080"
                        style="height: auto; width: 100%">
                </a>
            </div>


            <%- include('../templates/footer'); %>

</body>


</html>